:root {
  --user-level: pink;
  --task-level: greenyellow;
  --subtask-level: #61dafb;
  --container-level-offset: 60px;
  --level-offset: 0.5em;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  text-align: left;
  padding: 2em;
}

.app > .level__container {
  padding-left: 0;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0.5em;
  color: white;
  cursor: pointer;
}

.level__container {
  position: relative;
  padding-left: var(--container-level-offset);
}

.level__container > div {
  position: relative;
  z-index: 5;
}

.level__item {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: var(--level-offset) 0;
  /*transition: opacity 0.5s;*/
}

.level__item.level__item--is-dragging {
  opacity: 0.3;
}

.level__item:not(.level__item--1):before {
  /*content: '';*/
  /*position: absolute;*/
  /*z-index: -1;*/
  /*bottom: 50%;*/
  /*left: calc(var(--container-level-offset) / -2);*/
  /*width: calc(var(--container-level-offset) / 2);*/
  /*height: calc( 100% + var(--level-offset));*/
  /*border-left: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}

.level__item-title {
  color: white;
  margin-bottom: 0;
}

.level__item--1 {
  background-color: var(--user-level);
}

.level__item--2 {
  background-color: var(--task-level);
}

.level__item--3 {
  background-color: var(--subtask-level);
}

.level_container--connected {
  position: relative;
}

.level_container--connected:after {
  content: '';
  position: absolute;
  left: calc(var(--container-level-offset) / 2);
  top: var(--level-offset);
  height: calc(100% - (var(--container-level-offset) * 2) + (var(--level-offset)) * 2);
  border-left: solid 1px black;
}

.modal__label {
  display: block;
}

.modal_input {
  width: 100%;
  height: 45px;
}